@model EHA_AspNetCore.Models.Payments.PaymentCondition

@{
    ViewData["Title"] = "Create";
}

<h1>Create</h1>

<h4>Payment Condition</h4>
<hr />
<div class="row">
    <div class="col-md-4">
        <form asp-action="Create">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <div class="form-group">
                <label asp-for="Name" class="control-label"></label>
                <input asp-for="Name" class="form-control" />
                <span asp-validation-for="Name" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Fee" class="control-label"></label>
                <input asp-for="Fee" class="form-control" />
                <span asp-validation-for="Fee" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Discount" class="control-label"></label>
                <input asp-for="Discount" class="form-control" />
                <span asp-validation-for="Discount" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Fine" class="control-label"></label>
                <input asp-for="Fine" class="form-control" />
                <span asp-validation-for="Fine" class="text-danger"></span>
            </div>

        </form>
    </div>
</div>
<div class="row">
    <div class ="form-group">
        <label for="InstalmentNumber">Instalment Number</label>
        <input type="number" id="InstalmentNumber"/>

        <label for="Days">Days</label>
        <input type="number" id="Days" />

        <label for="ValuePercentage">ValuePercentage</label>
        <input type="number" id="ValuePercentage" />

        <select name="Method" onchange="combo(this, 'demo')">
            <option>Boleto</option>
            <option>Cartao</option>
        </select>
        <button type="button" id="FindPaymentMethod">Search</button>
        <button type="button" id="AddInstalment">Add</button>
    </div>
</div>
<table class="table">
    <thead>
        <tr>
            <th>Instalment number</th>
            <th>Days</th>
            <th>Value percentage</th>
            <th>Payment method</th>
        </tr>
    </thead>
    <tbody>

    </tbody>
</table>

<div class="form-group">
    <input type="submit" value="Create" class="btn btn-primary" />
</div>
<div>
    <a asp-action="Index">Back to List</a>
</div>

@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}
